/* You can add global styles to this file, and also import other style files*/
body{
    
    background-image: url("https://media.gettyimages.com/vectors/illustration-of-a-group-of-people-eating-outdoors-at-a-restaurant-vector-id1285195940?k=20&m=1285195940&s=612x612&w=0&h=rtDPS2a4dR-Z4m9JGaTpOyaWE1V8IXEmiVHwjtF3PGI=");
    background-size: cover;
    background-color: rgb(59, 48, 48);
 }