<div class="container"><br><br>
   <div class="center">
      <a routerLink="/adminbookdashboard"><button type="button" class="btn btn-warning">Food Data</button></a>
       <a routerLink="/adminuserdashboard"><button type="button" class="btn btn-warning" style="margin-left: 20%;">User Data</button></a>
       <a routerLink='/todaybill'><button type="button" class="btn btn-success" style="margin-left: 20%;">Today's Bill</button></a>
       <a routerLink='/monthbill'><button type="button" class="btn btn-success" style="margin-left: 20%;">Month Bill</button></a>
    </div>
    <br>
    <h3 align="center" >BILLS GENERATED THIS MONTH</h3><hr>
    <table class="table table-dark table-striped">
       <thead class="thead-light">
          <tr>
             <th scope="col">ID</th>
             <th scope="col">ITEM Name</th>
             <th scope="col">QUANTITY</th>
             <th scope="col">Price</th>
          </tr>
       </thead>
       <tbody>
       <tr *ngFor='let item of item'>
             <td>{{item.id}}</td>
             <td>{{item.name}}</td>
             <td>{{item.quality}}</td>
             <td>{{item.price}}</td>
       </tr>
      </tbody>
 </table>
 </div>