<nav class="navbar navbar-expand-lg navbar-blue bg-blue" >
    <div class="container">
      <a class="navbar-brand" href="#"><h2>Surabi Restaurant</h2></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav float-right">
          <li class="nav-item" *ngIf='!userservice.isNotLogIn()'>
            <a routerLink='/guest_dashboard' class="white nav-link">Menu</a> 
          </li>
          <li class="nav-item" *ngIf='!userservice.isNotLogIn()'>
            <a routerLink='/login' class="white nav-link">USER LOGIN</a>
         </li>
         <li class="nav-item" *ngIf='!userservice.isNotLogIn()'>
            <a routerLink='/register' class="white nav-link">USER REGISTER</a>
         </li>
         <li class="nav-item" *ngIf='!userservice.isNotLogIn()'>
           <a routerLink='/adminlogin' class="white nav-link">ADMIN LOGIN</a>
        </li>
        <li class="nav-item" *ngIf='!userservice.isNotLogIn()'>
           <a routerLink='/adminregister' class="white nav-link">ADMIN REGISTER</a>
        </li>
          
          <li class="nav-item1" *ngIf='!userservice.isLogIn()' align ="right">
            
             <a (click)="logout()" style="cursor: pointer;" class="white nav-link">Logout</a>
          </li>
        
          
        </ul>
      </div>
    </div>
  </nav>