<div class="container">
    <div class="center">
       <a routerLink="/adminbookdashboard"><button type="button" class="btn btn-warning">Food Data</button></a>
       <a routerLink='/adminuserdashboard'><button type="button" class="btn btn-warning" style="margin-left: 20%;">User Data</button></a>
       <a routerLink='/todaybill'><button type="button" class="btn btn-success" style="margin-left: 20%;">Today's Bill</button></a>
       <a routerLink='/monthbill'><button type="button" class="btn btn-success" style="margin-left: 20%;">Month Bill</button></a>
    </div>
    <br>
    
    <div class="users" align="center">
       <h5 style="color: red;">Welcome To Surabi Restaurant {{this.email}}</h5>
    </div>
 
    <table class="table table-dark ">
       <thead >
          <tr>
             <th scope="col">ID</th>
             <th scope="col">ITEM NAME</th>
             <th scope="col">PRICE</th>
             <th scope="col">QUANTITY</th>
              <th scope="col">UPDATE ITEM</th>
             <th scope="col">DELETE ITEM</th> 
             
           
          </tr>
       </thead>
       <tbody>
       <tr *ngFor='let item of item'>
             <td>{{item.id}}</td>
             <td>{{item.name}}</td>
             <td>{{item.price}}</td>
             <td>{{item.quality}}</td>
             
             <td><a (click)="edit(item)"><i class="fa fa-edit" style="font-size:25px;color:green;"></i></a></td>
                 <td><a (click)="delete(item)"><i class="fa fa-trash" style="font-size:25px;color:red;"></i></a></td>
             
       </tr>
      </tbody>
 </table>
 <div class="center">
   <a routerLink="/addbook"><button type="button" class="btn btn-danger">Add Foods</button></a>
</div>
 </div>