<div id="book">
   <span class="card-controller card" style="width: 18rem;"> 
      <!-- <img class="card-img-top" src='../../assets/{{item.imageId}}.JPG'
      onerror="this.src='https:/motivatevalmorgan.com/wp-content/uploads/2016/06/default-movie.jpg' "
      height="200" alt="Card image cap"> -->
      <div class="card-body">
         <h4 class="card_title text-truncate"
            style="max-width: calc(70 * 1vw)">{{item.name}}</h4>
      </div>
      <ul class="list-group list-group-flush">
         <li class="list-group-item">Price : {{item.price}}</li>
         <li class="list-group-item">Quantity : {{item.quality}}</li>
         <!-- <li class="list-group-item">Specialization : {{book.specialization}}</li>
         <li class="list-group-item" id="text">Content : {{book.content}}</li> -->
      </ul>
      
   </span>
</div>